* {
  box-sizing: border-box;
}

/* This technique doesn't naturally cause horizontal overflow, but once there is natural vertical overflow, it causes horizontal overflow, so stopping here. */
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


#ordering{
    display : none;
    position: absolute;
    top: 428px;
    left: 210px;
    width: 1004px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/Ordering.png");
    background-repeat: no-repeat;
}


p, figure {
  margin: 15px 0;
}
figcaption {
  text-align: center;
  color: #999;
}

#invisibleClickableBox{
    position: absolute;
    width: 123px;
    height: 155px;
    top: 352px;
    left: 1084px;
}

#invisibleClickableBox:hover{
    position: absolute;
    width: 123px;
    height: 155px;
    top: 352px;
    left: 1084px;
    background-image: url("../images/cameraIcon.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 14px 14px;

}

#invisibleClickableBox2{
    position: absolute;
    width: 34px;
    height: 345px;
    top: 355px;
    left: 211px;
    cursor: pointer;
}

#invisibleClickableBox3{
    position: absolute;
    width: 68px;
    height: 47px;
    top: 428px;
    left: 379px;
    /* background: black; */
    cursor: pointer;
}

#invisibleClickableBox4{
    position: absolute;
    width: 35px;
    height: 47px;
    top: 428px;
    left: 209px;
    /* background: black; */
    cursor: pointer;
}

#invisibleClickableBox5{
    position: absolute;
    width: 83px;
    height: 48px;
    top: 748px;
    left: 745px;
    cursor: pointer;
}
#invisibleClickableBox6{
    position: absolute;
    width: 173px;
    height: 48px;
    top: 113px;
    left: 205px;
    cursor: pointer;
}
