body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  overflow: hidden;
}
main{
    /* background-image: url("/images/blur_bg_3.gif"); */
    /* background-size:100%; */
    padding-top:50px;
    color:white;
    overflow: hidden;
}
#header{
    display: flex;
    line-height: 32px;
    font-size:32px;
    margin:auto;
    margin-top: 44px;
    width: 64.5%;
    font-weight: 200;
}
#header #headerIcon{
    background-image: url("/images/favicon.ico");
    background-repeat: no-repeat;
    background-size:100%;
    width:32px;
    height:32px;
    cursor: pointer;
}
#header #headerText {
    margin-left: 8px;
    cursor: pointer;
}
#header #smallerText
{
    font-size:18px;
    font-weight: 600;
}

.fullscreen-bg {
    position: fixed;
    top: 240px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0px;
    left: 0;
    /* width: 100%;
    height: 100%; */
    height:630px;
}



select,form{
    padding: 9px 30px 8px 8px;
    font-size: 16px;
    border: 1px solid black;
    height: 44px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ebebeb;
}
#filters{

    width: 64%;
    margin: auto;
    margin-top: 24px;
    margin-bottom:32px;
}

#filterContainer{
    display: inline-flex;
}
#filterContainer select{
    margin-left:18px;
    margin-right:32px;
}
#filterContainer #filterText{
    font-size:16px;
    padding-top: 12px;

}
#filterContainer #checkboxFilterText{
    font-size:16px;
    padding-top: 20px;
    padding-top: 24px;
}
#star{
    display: inline-flex;
    /* padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 9px; */
    font-size:16px;
    border-radius: 8px;
    margin-right: 18px;
    width:48px;
    height:48px;
    background-repeat: no-repeat;
    background-size:100%;
}
#star:hover{
    background-color:#f5f5f5;
}
.unclicked{
    background-image: url('/images/STAR-UNCLICKED.png');
}
.clicked {
    background-image: url('/images/STAR-CLICKED.png');
}


#starandsearch{
    display: inline-flex;
    float:right;
    margin-top:19px;
    margin-right: 54px;
    /* margin-left: 400px; */
}
#starandsearch input[type=text] {

    display: inline-flex;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 9px;
    font-size:16px;
    border:1px solid black;
    border-radius: 8px;
    margin-right: 48px;
    font-size: 16px;
}


#appTray{
    margin: auto;
    width: 1074px;
    background-image: url("/images/s8_landscape_white.png");
    background-repeat: no-repeat;
    background-size:100%;
    height: 700px;
    padding-top: 14px;
    padding-left:32px;
}
#allicons{
    width: 900px;
    margin: auto;
    height: 465px;
    overflow: scroll;
    padding-top: 2px;
}
#iconContainer
{
    display: inline-grid;
    text-align: center;
    word-wrap: break-word;
}
#iconContainer #iconText{
    width: 104px;
}

img#icon {
	border-radius: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    height:72px;
    width:72px;
    margin-left:18px;
    margin-right:18px;
    margin-bottom:18px;
    margin-top:32px;
    cursor: pointer;
}
img#icon :focus{
    outline-style: outset;
    outline-color: blue;
}

@supports (mask-size: cover) or (-webkit-mask-size: cover) {
	img#icon {
		border-radius: 0;
		border: none;
		-webkit-mask-image: url(/images/samsung_mask.svg);
		-webkit-mask-size: cover;
		mask-image: url(/images/samsung_mask.svg);
		mask-size: cover;
	}
}




/* =====================CHECKBOXES=========================== */
.checkboxContainer input[type="checkbox"] {
    opacity: 0;
}
.checkboxContainer{
    position: relative;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 12px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 7px;
    margin-left: 18px;
}
.checkboxContainer:hover{
    background:lightgrey;
}
.checked{
    background:green;
}
/* =====================/CHECKBOXES=========================== */



/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}
