body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}
main{

}
#appTray{
    margin: auto;
    width: 520px;
    background-image: url("/images/phoneBG.png");
    background-repeat: no-repeat;
    background-size:100%;
    height: 800px;
    padding-top:60px;
    margin-top: 88px;
}
#allicons{
    width: 420px;
    margin: auto;
}
#iconContainer
{
    display: inline-grid;
    text-align: center;
    word-wrap: break-word;
}
#iconContainer #iconText{
    width: 104px;
}

img#icon {
	border-radius: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    height:72px;
    width:72px;
    margin-left:16px;
    margin-right:16px;
    margin-bottom:18px;
    margin-top:32px;
}

@supports (mask-size: cover) or (-webkit-mask-size: cover) {
	img#icon {
		border-radius: 0;
		border: none;
		-webkit-mask-image: url(/images/samsung_mask.svg);
		-webkit-mask-size: cover;
		mask-image: url(/images/samsung_mask.svg);
		mask-size: cover;
	}
}
