body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  background-image: url(/images/blur_bg_ultralight.png);
}



/* login screen */
#name {
    padding: 14px;
    border: 0px solid black;
    width: 200px;
}
#password {
    padding: 14px;
    border: 0px solid black;
    width: 200px;
}
#login {
    background-image: url("/images/blur_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    border: 0px solid white;
    padding: 14px;
    width: 228px;
}
#loginPage {
    margin: auto;
    width: 228px;
    margin-top: 228px;
}
.popupTitle {
    color: white;
    position: absolute;
    top: 11%;
    left: 20%;
}

.overflow-hidden{
    width:100%;
    height:100%;
    overflow:hidden !important;
}

.exportPageBody {
    margin: auto;
    margin-top: 10%;
    max-width: 200px;
    text-align: center;
    cursor:pointer;
}
.exportLoading{
    margin-top:14px;
    text-align: center;
    width: 20%;
    height: 40px;
    margin:auto;
    background-image: url("/images/fluid-loader.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.exportPageBody .description {
    text-align: left;
}
#download{
    margin-top: 14px;
    padding:14px;
    border-radius: 8px;
    background-image: url("/images/blur_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color:white;
    display: inline-block;
}
#download:hover{
    background-image: none;
    color: purple;
    border: 1px solid purple;
}
/* =====================SETTINGS VIEW SECTION=========================== */
.settingsView{
    margin: auto;
    width: 68%;
}
.settingsView .rowImage{
    margin-left: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -7px;
    float:right;
}
.settingsView .description {
    display: inline-block;
}
.settingsViewOperatorGroup {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightyellow;
}
.addOperatorGroup {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightgrey;
}
.settingsViewOperatorGroupContents{
    display: block;
}
.settingsViewOperator, .settingsViewCountry {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightcoral;
    display: inline-block;
    margin-top:14px;
}
.deleteOperator{
    display: inline-block;
    margin-left: 6px;
    color: lightgrey;
}
.addOperatorToGroup{
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightgrey;
}
.settingsViewAddCountry{
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightgrey;
}
.settingsViewAddCountry .collapsed {
    display: inline-block;
}
.addCountryName, .addCountryID, .addCountryMCC {
    padding: 10px;
    display: inline-block;
    margin-top: 14px;
}

.addCountrySubmit input[type=submit],  .addCountrySubmit button[type=submit]{
    padding: 10px !important;
}
/* =====================GLOBAL VIEW SECTION=========================== */
.globalView {
    margin: auto;
    width: 68%;
}
.globalViewCountry {
    margin-top: 14px;
}
.globalViewApp {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightyellow;
}
.globalViewCountry {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background:white;
    background: lightsalmon;
}
.globalViewOperator{
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightcoral;
    display: inline-block;
    margin-top:14px;
}
.collapsed {
    display: inline-block;
}
.globalView .rowImage{
    margin-left: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -7px;
    float:right;
}
.globalView .description {
    display: inline-block;
}
.globalViewAppConfig, .globalViewAppConfigs {
    display: inline-block;
}
.globalViewAppContents {
    display: block;
}
.globalViewAppConfig {
    font-size: 12px;
        border-radius: 8px;
        border: 1px solid black;
        width: 18px;
        height: 16px;
        margin-left: 4px;
        text-align: center;
        line-height: 21px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
}
.active {
    background: lightskyblue;
}
/* =====================APP DETAILS SECTION=========================== */
.center{
    margin: auto;
    width: 64%;
}
.webApp{
    margin-left: 16%;
    width: 70%;
}
.configData, .products, .features, .configMappings {
    margin-left: 30%;
    width: 40%;
    margin-bottom: 14px;
}
.configData .rowDescription {
    margin-left: 14px;
    margin-bottom : -1px;
}
.webApp .row{
    max-height: 46px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 14px;
    padding-bottom: 14px;
}
.configData .row {
    max-height: 46px;

    padding-top: 14px;
    padding-bottom: 14px;
}
.webApp .row:hover{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.confiData .row:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.deleteConfig {
    background: rgb(255, 88, 91);
    color: white;
    padding: 10px;
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -14px;
    font-size: 8px;
    text-align: center;
    margin-top: 14px;
    cursor: pointer;
}


.webApp .row .rowDescription,.rowValue,.edit, .countrySearchResults{
    display: inline-block;
}
.configData .row .rowDescription, .configData .rowValue {
    display: inline-block;
}

.webApp .row .rowValue{
    border: 1px solid black;
    border-radius: 8px;
    padding:1em;
    margin-left:14px;

    /* margin-bottom: 14px; */
}
.mappingsRow div {
    display: inline-block;
    margin-right:14px;
}
.mappingsRow:hover {
    background:white;
}
.configData .row .rowValue {
    margin-left: 14px;
    margin-bottom: -9px;
    max-width: 300px;
    overflow:scroll;
    word-break: break-all;
    border: 1px solid black;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 3px;
        max-height: 16px;
}
.configMappingsCountries, .configMappingsOperators {
    border: 1px solid black;
    border-top: 0px solid transparent;
    padding: 14px;
}
.configMappingsTitle {
    font-weight: 600;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 14px;
    border-bottom: 0px;
    margin-top: 24px;
}
.countriesTitle, .operatorsTitle {
    font-weight: 600;
    margin-bottom:14px;
}

#DefaultEnabledFeatures, #DefaultHiddenFeatures {
        display: inline-block;
}
#DefaultEnabledFeatures {
    border-right: 1px solid black;
    margin-right: 14px;
    padding-right: 14px;
}

.configIconContainer{
    width: 100px;
    float: right;
    display: inline-block;
    border: 1px solid black;
    padding: 14px;

}
.configIcon {
    width: 100px;
    height: 100px;
}
.configIconURL {
    width: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 14px;
}


.webApp .row .rowValue .rowImage{
    margin-left: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -7px;
}
.edit{
    float:right;
    background-image: url("/images/edit.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
    width: 46px;
    height:46px;
    cursor: pointer;
    border-radius: 8px;
}
.edit:hover{
    background-color: #ebebeb;
}
.countrySearchResults {
    margin-top: 14px;
    padding-left:14px;
    padding-right: 14px;
    width: 90%;
}
.operatorSearchResults {
    margin-top: 14px;
    padding-left:14px;
    padding-right: 14px;
    width: 90%;
}
.wide {
    width: 91%;
    height: auto;
}
.countrySearchResults  .row{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 14px;
    padding-bottom: 14px;
    height:32px;
}
.operatorSearchResults .row{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 14px;
    padding-bottom: 14px;
    height:32px;
}
.countrySearchResults .rowValue{
    background: #c6279c;
    color:white;
    border-radius: 8px;
    padding:1em;
    margin-bottom: 14px;
    margin-right:14px;
    /* margin-bottom: 14px; */
}
.operatorSearchResults .rowValue{
    background: #c6279c;
    color:white;
    border-radius: 8px;
    padding:1em;
    margin-bottom: 14px;
    margin-right:14px;
    /* margin-bottom: 14px; */
}
.countrySearchResults .rowImage{
    float: right;
    margin-right: -4px;
    display: inline-block;
    width: 34px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: -8px;
    fill: white;
}
.operatorSearchResults .rowImage{
    float: right;
    margin-right: -4px;
    display: inline-block;
    width: 34px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: -8px;
    fill: white;
}
.checked {
    border: 1px solid white;
    border-radius: 8px;
    background: green;
    padding: 4px;
    margin-top: 14px;
}
.countrySearchResults .countryBubbleTitle {
    display: inline-block;
}
.operatorSearchResults .operatorBubbleTitle {
    display: inline-block;
}
.operator {
    display:inline-grid;
    max-width: 480px;
    margin-right: 14px;
}


hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, black, #ebebeb);
    margin-left:16%;
    width:68%;
    margin-top:24px;
    margin-bottom:32px;
}

#globalViewButton{
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
    margin-top: 4px;
    color: white;
}
#settingsViewButton{
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
    margin-top: 4px;
    color: white;
}
.globalViewON{
    color:#f953c6 !important;
    font-weight: 400 !important;
}
.settingsViewON{
    color:#f953c6 !important;
    font-weight: 400 !important;
}

.hidden{
    display:none !important;
}
.hoverFeatureName{
    border:solid 1px #171616;
    font-weight: 700;
    padding:14px;
}
.hoverFeatureName div{
    margin-top:8px;
    font-weight: 400;
}
.appConfigHoverContent{
    width: 312px;
    background-color: white;
    margin-left: 48px;
    padding: 14px;
    position: absolute;
    z-index: 1;
    text-align: left;
    overflow: scroll;
    border: 1px solid black;
}
.loading {
    background-image: url("/images/loading.gif");
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center;
    width: 48px;
    height: 48px;
}
.globalViewAppConfig:hover{
    background:white;
    border: 1px solid white;
}
/* =====================HEADERS AND FILTERS=========================== */
#header{
    display: flex;
    line-height: 32px;

    margin:auto;
    margin-top: 44px;
    width: 68.35%;
    cursor: pointer;
}

#headerIcon{
    background-image: url("/images/favicon.ico");
    background-repeat: no-repeat;
    background-size:100%;
    width: 28px;
    height: 28px;

}
#headerText {
    font-size:28px;
    margin-left: 8px;
    font-weight: 200;
}
#smallerText
{
    font-size:16px;
    font-weight: 600;
}
#timeline{
    height: 420px;
}

#filters select, #filters form{
    padding: 13px;
    font-size: 16px;
    border: 0px solid black;
    /* height: 44px; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/images/blur_bg.png);
    background-size: 202%;
    color: #171616;
    background-blend-mode:color;
    cursor:pointer;
    outline: none; // this one
}
#filters select:hover, #filters form:hover {
    background-blend-mode:screen;
}
#filters{
    width: 68%;
    margin: auto;
    margin-top: 24px;
    margin-bottom:32px;
}

#filterContainer{
    display: inline-flex;
}
#filterContainer select{
    margin-right:32px;
    max-width: 138px;
}
#filterContainer #filterText{
    font-size:14px;
    padding-top: 12px;

}
#star{
    /* display: inline-flex; */
    /* padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 9px; */
    font-size:16px;
    border-radius: 8px;
    margin-right: 18px;
    width:48px;
    height:48px;
    background-repeat: no-repeat;
    background-size:100%;
    /* -webkit-tap-highlight-color:rgba(246, 246, 255, 1); */
    -webkit-touch-callout: default;
}
#star:hover{
    background-color:#f5f5f5;
}
.unclicked{
    background-image: url('/images/STAR-UNCLICKED.png');
}
.clicked {
    background-image: url('/images/STAR-CLICKED.png');
}

#starandsearch{
    display: inline-flex;
    float:right;
    font-size: 16px;
    height:44px;
    /* margin-left: 400px; */
}
#starandsearch input[type=text] {
    display: inline-flex;
    padding-left: 14px;
    padding-right: 7px;
    padding-top: 2px;
    font-size:16px;
    border:0px solid black;
    border-radius: 8px;
    background: #fff5f4;
    color: #171616;
    outline: none;
    width: 420px;
}
#starandsearch input[type=text]::placeholder {
    color: #171616;
}


/* =====================INDEX APPTRAY BODY=========================== */
.iconContainer {
    display: inline-grid;
    text-align: center;
    word-wrap: break-word;
}
#appTray .appTraySectionDescription {
    padding-bottom: 4px;
    padding-top: 8px;
    text-align: center;
    color: #171616;
    font-weight: 100;
}
#appTray .appTraySection {
    padding: 14px;

    margin-bottom:24px;
    padding-bottom: 18px;
    border: 2px solid white;
}
.iconContainer #iconText{
    width: 104px;
}
.iconContainer #deleteIcon{
    opacity:0;
    background-image: url(/images/delete.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: 58px;
    margin-top: 16px;
    cursor: pointer;
    z-index: 1;
}
.iconContainer #deleteIcon:hover{
    opacity:1;
}

main{
    /* background-image: url("/images/blur_bg_3.gif"); */
    /* background-size:100%; */
    padding-top:8px;
    color:white;
    overflow: hidden;
    margin: auto;
}
#appTray{
    margin: auto;
    width: 700px;
    height: 559px;
    padding-top: 6px;
    overflow: scroll;
    color: black;
    border-bottom: 2px solid white;
}
#allicons{
    margin: auto;
    margin-top: 12px;
}
.locationCategory{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 28px;
    padding-top: 14px;
    width: 92.5%;
}
#max {
    border-bottom: none;
}



img#icon {
	border-radius: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    height:64px;
    width:64px;
    margin-left:18px;
    margin-right:18px;
    margin-bottom:18px;
    margin-top: 22px;
    cursor: pointer;
}

@supports (mask-size: cover) or (-webkit-mask-size: cover) {
	img#icon {
		border-radius: 0;
		border: none;
		-webkit-mask-image: url(/images/samsung_mask.svg);
		-webkit-mask-size: cover;
		mask-image: url(/images/samsung_mask.svg);
		mask-size: cover;
	}
}

/* =====================APPTRAY ADDAPP POPUP=========================== */
.addAppPopup {
    visibility:hidden;
    position: fixed;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    background-image: url("/images/blur_bg.png");
    background-blend-mode:overlay;
    background-repeat: repeat;
    background-position: center;
    background-size: 150%;
    z-index: 2;
}
#countrySearch {
    margin-left: 0;
    width:420px;
    margin-top: 0px;
}
#addAppEnabledFeatures {
    margin-bottom: 14px;
}
#operatorSearch {
    margin-left: 0;
    width: 420px;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.addAppPopup .contents {
    opacity: 1;
    position:relative;
    width: 60%;
    height:70%;
    top: 15%;
    left:20%;
    background:white;
    border-radius: 8px;
    overflow: scroll;
    padding-bottom: 14px;
}
.addAppPopup .contents input{
    display: block;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 14px;
    line-height: 24px;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    width: 80%;
}
.addAppPopup .contents #addAppIconForm input {
    display:inline-block;
}
#addAppIconForm iframe{
    display:inline-block;
}
#imageUploaded{
    background-image: url("/images/double-tick.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14px;
    height:14px;
    display:inline-block;
}
.addAppPopup .contents input[type=submit]{
    padding-left: 14px;
    padding-right: 14px;
    width:auto;
}
.addAppPopup .contents input[type=checkbox]{
    width: auto;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 8px;
    display:inline-block;
}
.addAppPopup .contents label {
    display:inline-block;
    margin-left: 4px;
}
#configurationMapping{
}

#appConfig {
}
.addAppPopup form{
    text-align: left;
}
.show{
    visibility:visible;
    transition-timing-function: ease-in-out;
    -webkit-animation: fadeIn 0.05s ;
    animation: fadeIn 0.05s;
}
.addAppPopup .closeButton {
    float:right;
    cursor: pointer;
    background-image: url("/images/close.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ebebeb;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    width: 36px;
    height: 36px;
}
.addAppPopup .closeButton:hover {
    background-color: #F1F1F1;
}
.errorDiv{
    background: red;
    margin-bottom: -14px;
    margin-top: 7px;
    color:white;
    padding: 14px;
}
#addAppEnabledFeatures, #addAppHiddenFeatures, #products, #addAppHiddenUI, #addAppCategories{
    margin-left: 18px;
    margin-right: 18px;
    padding: 14px;

}
#products {
    padding-top: 28px;
    border-top: 1px solid #811c55;

}
#addAppHiddenUI{
    margin-top: 14px;
}
.addAppPopup .contents #addAppCheckboxContainer
{
    margin-left: 24px;
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#filterContainer option{
    color: purple !important;
    width: 128px !important;
}
@media screen  and (max-width: 1400px) /* Tablet */ {
    #appTray {
        height: auto;

        margin:auto;
        margin-bottom: 60px;
        text-align: center;
        width: 70%;
        /* height: 1300px; */
    }
    body{
        overflow:auto;
    }
    #allicons{
        width: 85%;
        margin-top: 15%;
        height:100%;
    }
    .fullscreen-bg{
        display:none;
    }
    #starandsearch{
        display:contents;

    }
    #starandsearch input[type=text] {
            line-height: 44px;
            margin-top: 10px;
            width:auto;
    }
    #star{
        line-height: 44px;
    }
    select{
        margin-top: 10px;
    }
    #filters select, #filters form {
        background: white;
    }
    .addAppPopup{
        background: lightgrey;
        background-image:none !important;

    }
    .addAppPopup .contents {
        width: 80% !important;
        left:10% !important;
        top: 10% !important;
        height: 80% !important;
        font-size: 24px !important;
    }
    .addAppPopup input {
        padding: 28px;
        font-size: 24px !important;
    }
     #addAppHiddenUI {
         margin-top: 28px;
     }
     #products {
         margin-bottom: 28px;
     }
    #addAppEnabledFeatures, #addAppHiddenFeatures, #products, #addAppHiddenUI {
        border: 1px solid lightgrey;
        font-size: 20px;
        padding: 28px;
    }
    .popupTitle {
    color: white;
    position: absolute;
    top: 6%;
    left: 12%;
    }
    #products{
        border-top: 10px solid #811c55;
    }

}


/* CAUTION: IE hackery ahead */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}
