body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}
.popupTitle {
    color: white;
    position: absolute;
    top: 11%;
    left: 30%;
}

.overflow-hidden{
    width:100%;
    height:100%;
    overflow:hidden !important;
}

/* =====================GLOBAL VIEW SECTION=========================== */
.globalView {
    margin: auto;
    width: 68%;
}
.globalViewCountry {
    margin-top: 14px;
}
.globalViewApp {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightyellow;
}
.globalViewCountry {
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background:white;
    background: lightsalmon;
}
.globalViewOperator{
    padding: 1em;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 14px;
    margin-bottom: 14px;
    background: lightcoral;
    display: inline-block;
    margin-top:14px;
}
.collapsed {
    display: inline-block;
}
.globalView .rowImage{
    margin-left: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -7px;
    float:right;
}
.globalView .description {
    display: inline-block;
}
.globalViewAppConfig, .globalViewAppConfigs {
    display: inline-block;
}
.globalViewAppContents {
    display: block;
}
.globalViewAppConfig {
    font-size: 12px;
        border-radius: 8px;
        border: 1px solid black;
        width: 18px;
        height: 16px;
        margin-left: 4px;
        text-align: center;
        line-height: 21px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
}
/* =====================APP DETAILS SECTION=========================== */
.center{
    margin: auto;
    width: 64%;
}
.webApp{
    margin-left: 16%;
    width: 70%;
}
.webApp .row{
    max-height: 46px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 14px;
    padding-bottom: 14px;
}
.webApp .row:hover{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.webApp .row .rowDescription,.rowValue,.edit, .countrySearchResults{
    display: inline-block;
}
.webApp .row .rowValue{
    border: 1px solid black;
    border-radius: 8px;
    padding:1em;
    margin-left:14px;
    /* margin-bottom: 14px; */
}
.webApp .row .rowValue .rowImage{
    margin-left: 14px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -7px;
}
.edit{
    float:right;
    background-image: url("/images/edit.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
    width: 46px;
    height:46px;
    cursor: pointer;
    border-radius: 8px;
}
.edit:hover{
    background-color: #ebebeb;
}
.countrySearchResults {
    margin-top: 14px;
    padding-left:14px;
    padding-right: 14px;
    width: 90%;
}
.wide {
    width: 91%;
    height: auto;
}
.countrySearchResults  .row{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-top: 14px;
    padding-bottom: 14px;
    height:32px;
}
.countrySearchResults .rowValue{
    background: #c6279c;
    color:white;
    border-radius: 8px;
    padding:1em;
    margin-bottom: 14px;
    margin-right:14px;
    /* margin-bottom: 14px; */
}
.countrySearchResults .rowImage{
    float: right;
    margin-right: -4px;
    display: inline-block;
    width: 34px;
    height: 24px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: -8px;
    fill: white;
}
.checked {
    border: 1px solid white;
    border-radius: 8px;
    background: green;
    padding: 4px;
    margin-top: 14px;
}
.countrySearchResults .countryBubbleTitle {
    display: inline-block;
}
.operator {
    display:inline-grid;
    max-width: 480px;
    margin-right: 14px;
}


hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, black, #ebebeb);
    margin-left:16%;
    width:68%;
    margin-top:24px;
    margin-bottom:32px;
}

#globalViewButton{
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
    margin-top: 4px;
    color: #ebebeb;
}
.globalViewON{
    color:#f953c6 !important;
    font-weight: 400 !important;
}

.hidden{
    display:none;
}

/* =====================HEADERS AND FILTERS=========================== */
#header{
    display: flex;
    line-height: 32px;

    margin:auto;
    margin-top: 44px;
    width: 68.35%;
    cursor: pointer;
}
#headerIcon{
    background-image: url("/images/favicon.ico");
    background-repeat: no-repeat;
    background-size:100%;
    width: 28px;
    height: 28px;

}
#headerText {
    font-size:28px;
    margin-left: 8px;
    font-weight: 200;
}
#smallerText
{
    font-size:16px;
    font-weight: 600;
}
#timeline{
    height: 420px;
}

#filters select, #filters form{
    padding: 9px 30px 8px 8px;
    font-size: 16px;
    border: 1px solid black;
    height: 44px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ebebeb;
}
#filters{
    width: 68%;
    margin: auto;
    margin-top: 24px;
    margin-bottom:32px;
}

#filterContainer{
    display: inline-flex;
}
#filterContainer select{
    margin-left:18px;
    margin-right:32px;
    width: 128px;
}
#filterContainer #filterText{
    font-size:14px;
    padding-top: 12px;

}
#star{
    /* display: inline-flex; */
    /* padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 9px; */
    font-size:16px;
    border-radius: 8px;
    margin-right: 18px;
    width:48px;
    height:48px;
    background-repeat: no-repeat;
    background-size:100%;
    /* -webkit-tap-highlight-color:rgba(246, 246, 255, 1); */
    -webkit-touch-callout: default;
}
#star:hover{
    background-color:#f5f5f5;
}
.unclicked{
    background-image: url('/images/STAR-UNCLICKED.png');
}
.clicked {
    background-image: url('/images/STAR-CLICKED.png');
}

#starandsearch{
    display: inline-flex;
    float:right;
    font-size: 16px;
    height:44px;
    /* margin-left: 400px; */
}
#starandsearch input[type=text] {
    display: inline-flex;
    padding-left: 7px;
    padding-right: 7px;
    font-size:16px;
    border:1px solid black;
    border-radius: 8px;

}


/* =====================INDEX APPTRAY BODY=========================== */
.iconContainer {
    display: inline-grid;
    text-align: center;
    word-wrap: break-word;
}
.iconContainer #iconText{
    width: 104px;
}
.iconContainer #deleteIcon{
    opacity:0;
    background-image: url(/images/delete.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
    width: 32px;
    height: 32px;
    position: absolute;
    margin-left: 58px;
    margin-top: 16px;
    cursor: pointer;
    z-index: 1;
}
.iconContainer #deleteIcon:hover{
    opacity:1;
}

main{
    /* background-image: url("/images/blur_bg_3.gif"); */
    /* background-size:100%; */
    padding-top:8px;
    color:white;
    overflow: hidden;
    margin: auto;
}
#appTray{
    margin: auto;
    width: 895px;
    background-image: url(/images/s8_landscape_colorful.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    padding-top: 6px;
    padding-left: 100px;
    color: black;
}
#allicons{
    width: 900px;
    margin: auto;
    height: 436.5px;
    overflow: scroll;
    margin-top: 12px;
}
.locationCategory{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 28px;
    padding-top: 14px;
    width: 92.5%;
}
#max {
    border-bottom: none;
}
@media screen  and (max-width: 1400px) /* Tablet */ {
    #appTray {

        margin:auto;
        text-align: center;
        width: 70%;
        /* height: 1300px; */
        background-image: url("/images/s8_portrait_colorful.png");
        padding-left:20px;
    }
    body{
        overflow:auto;
    }
    #allicons{
        width: 85%;
        margin-top: 15%;
        height:100%;
    }
    .fullscreen-bg{
        display:none;
    }
    #starandsearch{
        display:contents;

    }
    #starandsearch input[type=text] {
            line-height: 44px;
            margin-top: 10px;
    }
    #star{
        line-height: 44px;
    }
    select{
        margin-top: 10px;
    }
}


img#icon {
	border-radius: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    height:64px;
    width:64px;
    margin-left:18px;
    margin-right:18px;
    margin-bottom:18px;
    margin-top: 22px;
    cursor: pointer;
}

@supports (mask-size: cover) or (-webkit-mask-size: cover) {
	img#icon {
		border-radius: 0;
		border: none;
		-webkit-mask-image: url(/images/samsung_mask.svg);
		-webkit-mask-size: cover;
		mask-image: url(/images/samsung_mask.svg);
		mask-size: cover;
	}
}

/* =====================APPTRAY ADDAPP POPUP=========================== */
.addAppPopup {
    visibility:hidden;
    position: fixed;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    background-image: url("/images/blur_bg.png");
    background-blend-mode:overlay;
    background-repeat: repeat;
    background-position: center;
    background-size: 150%;
    z-index: 2;
}
.addAppPopup .contents {
    opacity: 1;
    position:relative;
    width: 40%;
    height:70%;
    top: 15%;
    left:30%;
    background:white;
    border-radius: 8px;
    overflow: scroll;
    padding-bottom: 14px;
}
.addAppPopup .contents input{
    display: block;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 14px;
    line-height: 24px;
    padding-left: 14px;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    width: 80%;
}
.addAppPopup .contents input[type=submit]{
    padding-left: 14px;
    padding-right: 14px;
    width:auto;
}
.addAppPopup .contents input[type=checkbox]{
    width: auto;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 8px;
}
.addAppPopup form{
    text-align: left;
}
.show{
    visibility:visible;
    transition-timing-function: ease-in-out;
    -webkit-animation: fadeIn 0.05s ;
    animation: fadeIn 0.05s;
}
.addAppPopup .closeButton {
    float:right;
    cursor: pointer;
    background-image: url("/images/close.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ebebeb;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    width: 36px;
    height: 36px;
}
.addAppPopup .closeButton:hover {
    background-color: #F1F1F1;
}
#addAppEnabledFeatures, #addAppHiddenFeatures{
    margin-left: 18px;
    margin-right: 18px;
}
.addAppPopup .contents #addAppCheckboxContainer
{
    display: inline-grid;
    margin-left: 24px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/* CAUTION: IE hackery ahead */

select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}
